.tmp/public/ActumCredit/*.csv
.tmp/public/uploads/userprofile/*.png
assets/images/logos/*.png
assets/images/logos/*.jpg
assets/images/logos/*.jpeg
actumcheckpayment/*.txt
actumdoctorcredit/*.txt
actumdoctorcreditcheck/*.txt
actumrecurringdebit/*.txt
assets/ActumCredit/*.csv
logs/*.txt
logs/translog/*.txt
node_modules
striperecurringdebit/*.txt
translog/*.txt
assets/uploads/userprofile/*.png
*.pem
plaidlog.txt
checktransferlog.txt
cronemailservice/*.txt
.tmp
mongo.db
assets/images/signatures/*.png
*.code-workspace
pm2_dev.json
logs/pficheck/*.txt
logs/transunion/*.txt
logs/plaid/*.txt
.idea
firstAssociatesUpload/*.csv
firstAssociatesUpload/ExportedAllFundedContracts/*.csv
*.pdf
.DS_Store
